body {
    font-family: Arial, sans-serif;
    color: #5d0269;
    background-color: #b913e291;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #b117e0;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a-hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 10px;
    margin: 0 auto;
}
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
background-color: #6a0777;
color: white;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}
p {
    font-size: 1.1cm;
}
a {
    color: #a01e15;
    text-decoration: none;
}
a-hover {
    text-decoration: underline;
}
img {
    border: 5px solid #a02709;
}